-# coding: utf-8

%table.table.table-bordered
  %tr
    -%w[待機番号 ファイル名 アクション 並替え].each do |column_name|
      %th=column_name
  -jobs.each do |job|
    %tr
      %td=job.priority
      %td=link_to job.video.output_name, url(:videos, :show, :id=>job.video.id)
      %td=job.type
      %td
        =button_link('', url(:queue, :up, :id=>job.id), :icon=>'icon-arrow-up', :button_class=>'btn-small')
        =button_link('', url(:queue, :down, :id=>job.id), :icon=>'icon-arrow-down', :button_class=>'btn-small')
        =button_link('', url(:queue, :destroy, :id=>job.id), :icon=>'icon-remove-sign', :button_class=>'btn-small', :method=>:delete)

