-# coding: utf-8

-unless @encoding_video.blank?
  .alert.alert-info
    エンコード中の動画
    %ul
      -@encoding_video.each do |encode_queue|
        %li=encode_queue.video.output_name


%table.table.table-bordered
  %tr
    -%w[待機番号 ファイル名 出力サイズ 並替え].each do |column_name|
      %th=column_name
  -queue.each do |encode_queue|
    %tr
      %td=encode_queue.priority
      %td=link_to encode_queue.video.output_name, url(:videos, :show, :id=>encode_queue.video_id)
      %td=encode_queue.output_size
      %td
        =button_link('', url(:queue, :up, :id=>encode_queue.id), :icon=>'icon-arrow-up', :button_class=>'btn-small')
        =button_link('', url(:queue, :down, :id=>encode_queue.id), :icon=>'icon-arrow-down', :button_class=>'btn-small')
        =button_link('', url(:queue, :encode, :id=>encode_queue.id), :icon=>'icon-film', :button_class=>'btn-small')
        =button_link('', url(:queue, :destroy, :id=>encode_queue.id), :icon=>'icon-remove-sign', :button_class=>'btn-small', :method=>:delete)

