-# coding: utf-8

.span3
  .well.sidebar-nav
    %ul.nav.nav-list
      %li.nav-header 動画
      %li=link_to 'シリーズ一覧', url(:series, :index)
      %li=link_to '動画一覧', url(:videos, :index)
      %li=link_to 'ジョブキュー', url(:queue, :index)
      %li=link_to 'エンコードキュー', url(:encode_queue, :index)
      %li.nav-header ログ
      %li=link_to 'ログ', url(:logs, :index)
      %li=link_to 'エンコードログ', url(:encode_logs, :index)
      %ul
        %li=link_to 'TS未削除', url(:encode_logs, :index, exist_ts: true)
      %li.nav-header その他
      %li=link_to 'フィルタ', url(:filters, :index)
