-# coding: utf-8

.span3
  .well.sidebar-nav
    %ul.nav.nav-list
      %li.nav-header 動画
      %li=link_to '動画一覧', url(:videos, :index)
      %li=link_to 'エンコードキュー', url(:queue, :index)
      %li=link_to 'エンコードログ', url(:logs, :index)
