-# coding: utf-8

%table.table.table-bordered
  %tr
    -%w[id シリーズ名 ファイル名 ファイルサイズ].each do |column_name|
      %th=column_name
  -videos.each do |video|
    %tr{:class=>video_class(video)}
      %td=video.id
      %td=link_to video.series.name, url(:series, :show, id: video.series.id)
      %td=link_to video.output_name, url(:videos, :show, :id=>video.id)
      %td=number_to_human_size video.filesize
