-# coding: utf-8

%h2 新しい動画
=partial 'parts/video_list', :locals=>{:videos=>@videos}
%h2 エンコードキュー
=partial 'parts/job_queue_list', :locals=>{:jobs=>@jobs}
%h2 エンコードログ
=partial 'parts/job_log_list', :locals=>{:logs=>@logs}
